{% extends "base.html" %}
{% block contaner %}

<input type='checkbox' name="mode" id="r"> Dark mode</button>

<fieldset>
<table border='0' collspacing='0' collpadding='0' >
<h2 >Login</h2>
<form action='/sign_in/' method='post'>
    {% csrf_token %}
<tr><th>User Name</th></tr>
<tr><th><input type='text' name='username' id="username" required></th></tr>
<tr><th>Password</th></tr>
<tr><th><input type='password' name='password' id="password" required></th></tr>
<tr><th><button type ='submit'  class='btn1' >Submit</button></th></tr>
<tr><th>are you new member ?<a href="/signup/">Click here</a><th></tr>
</form>
</table>
</fieldset>
{% endblock %}
