<html>
<head>
    <title>Partners</title>
<style>
body
{
margin:0;
padding:0;
background-color:antiquewhite;
background-size:cover;
background-position:center;
position:relative;

}

fieldset
{
position:absolute;
background-color: aqua;
width:30%;
height:80%;
margin:50px 400px;
}

table 
{
    width:100%;
    height:90%;
    font-size: 20px;
}
input 
{
    font-size: 18px;
    border-radius:15px;
    border:none;
}
h2 
{
    text-align:center;
    font-size:28px;
}
.btn1
{
    font-size: 20px;
    background-color:yellow;
    
}
</style>
</head>
<body >
<input type='checkbox' name="mode" id="r"> Dark mode</button>

<fieldset>
<form action=' ' method='get'></form>
<table border='0' collspacing='0' collpadding='0' >
<h2 >Login</h2>

<tr><th>Email Id</th></tr>
<tr><th><input type='email' name='email' id="email"></th></tr>
<tr><th>Password</th></tr>
<tr><th><input type='password' name='pwd1' id="pwd1"></th></tr>
<tr><th><input type ='submit' onclick="return vald()" class='btn1' id="submit"></th></tr>
<tr><th>are you new member ?<a href="/signup/">Click here</a><th></tr>
</table>
</form>
</fieldset>
</body>
</html>
