{% extends "base.html" %}
{% load static %}
{% block style %}

table {
   width:100%;
   margin-top:5rem;
   margin-bottom:5rem;
}

table tr th,td{
   font-size: 20px;
   padding:5px;
   text-align:center;
}
{% endblock %}
{% block contaner %}

          <h5><ul><li>Grocery Management</li></ul></h5>
          <table border='2px' cellspacing='' cellpadding='' >
            <tr>
               <th>Member Name</th>
               <th>Product</th>
               <th>Price</th>
               <th>Date</th>
               <th>Edit</th>
            </tr>
            <tr>
               {% for i in data %}
               <td>{{i.user}}</td>
               <td>{{i.item}}</td>
               <td>{{i.price}}</td>
               <td>{{i.date}}</td>
               <td ><a href="/delete/{{i.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            <tr>
               <th colspan='2'>Total Amount</th>
               <th>{{total.total_price}}</th>
            </tr>
            </table>
{% endblock %}
       